---
import Layout from '../layouts/Layout.astro';
import Features from '../components/Features.astro';
---

<Layout title="Murphy and Murphians Foundation Donation Page">
	<main class="grid min-h-full place-items-center sm:py-32">
        <Features/>

	</main>
</Layout>
