---
import Container from "./Container.astro"

---

<div class="relative" id="features">
  <Container>

       <div class="relative pt-30 sm:pt-1 ml-auto">
           <h2>Global Payments:</h2>
           <!--script src="https://donorbox.org/widget.js" paypalExpress="false"></script> <iframe src="https://donorbox.org/embed/make-an-impact-806617?" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important" allow="payment"></iframe-->
           <iframe title='Murphy and Murphians Foundation' height="500px" width="100%" style="min-width: 500px; max-height:none!important" src='https://www.zeffy.com/embed/donation-form/donate-to-help-animals-in-need-4' allowpaymentrequest allowTransparency="true"></iframe>
       </div>
       <h2>UPI Payments:</h2>
       <div class="aspect-w-16 aspect-h-11">
         <img class="w-full h-140 object-cover object-top rounded-xl" src="https://i.ibb.co/qYwBKL7N/Google-Pay-QR.png" alt="QR Code">
       </div>

  </Container>
</div>
