---
import Container from "./Container.astro"

---

<div class="relative" id="features">
  <Container>

       <div class="relative pt-30 sm:pt-1 ml-auto">
           <!--script src="https://donorbox.org/widget.js" paypalExpress="false"></script> <iframe src="https://donorbox.org/embed/make-an-impact-806617?" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important" allow="payment"></iframe-->
           <div style="position:relative;overflow:hidden;height:450px;width:100%;"><iframe title='Murphy and Murphians Donation Form' style='position: absolute; border: 0; top:0;left:0;bottom:0;right:0;width:100%;height:100%' src='https://www.zeffy.com/embed/donation-form/donate-to-help-animals-in-need-4' allowpaymentrequest allowTransparency="true"></iframe></div>
       </div>

  </Container>
</div>
