---
import Container from "./Container.astro"
---

<div class="relative" id="home">

    <Container>

        <div class="relative pt-30 ml-auto">
            <div class="mt-5 max-w-2xl text-center mx-auto">
                  <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-black">
                      M&M: Serving Animals
                    <span class="bg-clip-text bg-linear-to-tl from-blue-600 to-violet-600 text-transparent">In Need</span>
                  </h1>

            </div>
            <div class="lg:w-2/3 text-center mx-auto">
                <p class="mt-8 text-black dark:text-black">Sustainably helping pets in medical needs, and restore love & dignity — powered by people like you.</p>
                <p class="mt-8 text-black font-bold dark:text-black">No <span class="text-red-600 dark:text-red-500">red tape</span>. Clear action. Visible results.</p>

                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">

                    <a
                      href="/donationpage"
                      class="relative flex h-15 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-red-600 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >

                        <div class="text-white animate-heartbeat text-4xl">
                         <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 28 25" stroke-width="3" stroke="currentColor" class="size-8">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                         </svg>
                        </div>
                      <span class="relative text-base font-semibold text-white"
                        >Donate Today</span>

                    </a>

                </div>

            </div>

              </div>
        </div>

    </Container>
</div>
