---
import Container from "./Container.astro"
---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-30 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 text-balance dark:text-black font-bold text-5xl md:text-6xl xl:text-7xl">M&M: <span class="text-primary dark:text-black">Serving Animals In Need</span></h1>
                <p class="mt-8 text-black dark:text-black">Sustainably helping pets in medical needs, and restore love & dignity — powered by people like you.</p>
                <p class="mt-8 text-black font-bold dark:text-black">No <span class="text-red-600 dark:text-red-500">red tape</span>. Clear action. Visible results.</p>

                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-red-600 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Donate Today</span
                      >
                    </a>

                </div>

            </div>

              </div>
        </div>
    </Container>
</div>
