---
import Container from "./Container.astro"
---

<div class="relative" id="home">

    <Container>

        <div class="relative pt-30 ml-auto">
            <div class="mt-5 max-w-2xl text-center mx-auto">
                  <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-black">
                      M&M: Serving Animals
                    <span class="bg-clip-text bg-linear-to-tl from-blue-600 to-violet-600 text-transparent">In Need</span>
                  </h1>

            </div>
            <div class="lg:w-2/3 text-center mx-auto">
                <p class="mt-8 text-black dark:text-black">Sustainably helping pets in medical needs, and restore love & dignity — powered by people like you.</p>
                <p class="mt-8 text-black font-bold dark:text-black">No <span class="text-red-600 dark:text-red-500">red tape</span>. Clear action. Visible results.</p>

                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-10">
                    <a
                      href="/donationpage"
                      class="relative flex h-15 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-red-600 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                        <div class="relative text-white pr-1 animate-heartbeat">
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6" fill="currentColor" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M241 87.1l15 20.7 15-20.7C296 52.5 336.2 32 378.9 32 452.4 32 512 91.6 512 165.1l0 2.6c0 112.2-139.9 242.5-212.9 298.2-12.4 9.4-27.6 14.1-43.1 14.1s-30.8-4.6-43.1-14.1C139.9 410.2 0 279.9 0 167.7l0-2.6C0 91.6 59.6 32 133.1 32 175.8 32 216 52.5 241 87.1z"/></svg>
                        </div>
                    <span class="relative text-base font-semibold text-white">Donate Today</span>

                    </a>


                </div>

            </div>

              </div>
        </div>

    </Container>
</div>
