---
import Layout from '../../layouts/Layout.astro';
import Container from "../../components/Container.astro"
---


<Layout title="Murphy and Murphians Foundation Blog Page">
<main class="relative min-h-full place-items-center py-40">
	<Container>
	<article>
	<div class="lg:pr-20 lg:pl-20 sm:pl-1 sm:pr-1 font-serif">
	<h1 class="font-bold text-4xl md:text-4xl lg:text-5xl">
	Kachori’s Silent Cry — A Story of Pain, Hope, and a Second Chance at Life
	</h1>
	<div class="relative pt-10 text-1xl md:text-2xl lg:text-2xl text-gray-600">
	<img class="float-right  overflow-hidden rounded-t-2xl rounded-b-2xl aspect-3/2 object-cover w-[300px] h-[20rem]" src="https://i.ibb.co/gMjxSJpQ/B0-A85264-F56-F-412-A-BC69-CA0228-CDE9-FE.jpg" />
	<p>
	On the side of a busy highway near Indore, amidst the dust and noise of passing vehicles, lay a soul crying for help — not with words, but with her eyes, her silence, and her pain. She was just a street dog, a nameless, voiceless being to most. But to those who saw her for what she truly was — a life worth saving — she would become <strong>Kachori</strong>.</br>
Kachori had been the victim of a hit-and-run — a brutal accident that left her right forelimb shattered and bleeding. The pain must have been unbearable. Yet, no one stopped. No one helped. Days turned into weeks. Her wound festered, swelling with infection, turning black with gangrene. She was suffering in silence, hiding her pain as only animals can — waiting, hoping, hurting.

	</p>
	</div>
	<div class="pt-5 font-semibold text-3xl">
	<h2>But the universe had not forgotten her.</h2>
	</div>
	<div class="relative pt-5 text-1xl md:text-2xl lg:text-2xl text-gray-600">
	    <p> When Shivkanya Foundation from Indore, India found her, they were heartbroken. Her condition was critical. The infection had spread too far. The only option to save her life was to amputate the infected limb. It was a difficult decision, but there was no other way. She deserved a life free of pain — a life filled with love, not fear and suffering. The decision was urgent, but there was a significant hurdle — financial constraints threatened to delay the surgery Kachori desperately needed.
		</p>
	</div>
	<div class="pt-5 font-semibold text-3xl">
	<h2>That's when another miracle happened</h2>
	</div>
	<div class="relative pt-5 text-1xl md:text-2xl lg:text-2xl text-gray-600">
	    <p> The <span class="text-blue-600">Murphy and Murphians Foundation</span> came forward — not just with words, but with action.
					We sponsored Kachori’s surgery and covered all her medical needs. The timely support saved her, they get Kachori the life-saving surgery she so desperately needed. The operation was successful. Her infected limb was removed, and with it, the unbearable pain that had plagued her for so long.</p>
	</div>
	<div class="lg:pl-15 lg:pr-15 sm:pl-0 sm:pr-0 justify-center">
	    <div class="mt-6 grid lg:grid-cols-3 sm:grid-cols-2 gap-3">
            <div class="group flex flex-col relative overflow-hidden rounded-l-2xl sm:rounded-none sm:rounded-l-2xl dark:outline dark:outline-white/10">
                <img class="w-[300px] h-[20rem] object-cover" src="https://i.ibb.co/8DpGzqsz/a834f54e-923b-44be-8501-e4ea7cbf4bc2.jpg">
                <div class="absolute inset-0 flex items-end lg:bg-linear-to-b lg:from-transparent lg:via-transparent lg:to-gray-950 ">
                    <span class="p-4 text-sm/5 font-semibold text-white">Kachori</span>
                </div>
            </div>
            <div class="group flex flex-col relative dark:outline dark:outline-white/10">
                <img class="w-[300px] h-[20rem] object-cover " src="https://i.ibb.co/xSrNJ5W7/0a31f3d0-c672-46e8-ba7d-70557eff5fb4.jpg">
                <div class="absolute inset-0 flex items-end lg:bg-linear-to-b lg:from-transparent lg:via-transparent lg:to-gray-950 ">
                    <span class="p-4 text-sm/5 font-semibold text-white">After surgery</span>
                </div>
            </div>
            <div class="group flex flex-col relative overflow-hidden rounded-r-2xl dark:outline dark:outline-white/10">
                <img class="w-[300px] h-[20rem] object-cover" src="https://i.ibb.co/h1B60vRC/46c968a1-6490-4f62-9a21-3ff72445b14a.jpg">
                <div class="absolute inset-0 flex items-end lg:bg-linear-to-b lg:from-transparent lg:via-transparent lg:to-gray-950 ">
                    <span class="p-4 text-sm/5 font-semibold text-white">After surgery</span>
                </div>
            </div>

		</div>
	</div>
	<div class="relative pt-5 text-1xl md:text-2xl lg:text-2xl text-gray-600">
	    <p>
					Kachori is now on her journey to healing — no longer just surviving, but finally living.
We are forever grateful to <span class="text-blue-600">Murphy and all the Murphians</span> who made this miracle possible. Your kindness didn’t just save a limb — it saved a life. Every step Kachori takes from here on, even if on three legs, will be a step full of love, gratitude, and hope.
Murphy, your legacy lives on in every life we touch. Because of you, we believe in miracles — and we promise to carry your spirit in every rescue, every healing, and every heartbeat we help save.

		</p>
	</div>
	<div class="pt-5 font-semibold text-3xl text-red-700 text-center">
	<h2>Thank you Murphy, from Kachori and all of us. ❤️</h2>
	</div>


	</div>



</article>
  </Container>

</main>
</Layout>
