---
import Layout from '../../layouts/Layout.astro';
import Container from "../../components/Container.astro"
---


<Layout title="Murphy and Murphians Foundation Blog Page">
<main class="relative min-h-full place-items-center py-40">
	<Container>
	<article>
	<div class="lg:pr-20 lg:pl-20 sm:pl-1 sm:pr-1 font-serif">
	<h1 class="font-bold text-4xl md:text-4xl lg:text-5xl pb-5">
	From Suffering to the Stars: Streaky’s Short Life, Endless Love
	</h1>
	<sl-tag variant="primary" size="large" pill>Donated: Rs. 40,000</sl-tag>

	<div class="relative pt-10 text-1xl md:text-2xl lg:text-2xl text-gray-600">

	<p>
	All he wanted was a little food.
Streaky, a gentle stray with eyes full of hope, approached a human with nothing more than hunger in his belly and trust in his heart. He didn’t know that this simple act of survival would cost him everything.

	</p>
	<img class="float-right  overflow-hidden rounded-t-2xl rounded-b-2xl aspect-3/2 object-cover w-[300px] h-[20rem]" src="https://i.ibb.co/zWr0fQM4/streakypic.jpg" />

	</div>
	<div class="pt-5 font-semibold text-3xl">
	<h2>Instead of compassion, he was met with unimaginable cruelty.</h2>
	</div>

	<div class="relative pt-5 text-1xl md:text-2xl lg:text-2xl text-gray-600">
	    <p>  In an act beyond comprehension, someone chopped off his paw—a deed so brutal, so heartless, it shakes the very core of humanity.
He lay there for days.
 Alone. In unbearable pain.
 His wound festered, pus oozed, his small body trembling as his spirit flickered like a dying flame.
No one came.
 No one cared.

 By the time Pet Adoption Bangalore found him, Streaky was barely alive—shivering, unable to stand, his heart shattered in more ways than one.
					</p>
<p>
 He was rushed to the hospital, and the diagnosis was grim:

   <ul>
       <li><span class="text-red-600">WBC count: 10× normal</span>: his body was waging a desperate battle against infection.</li>
     <li>Critically <span class="text-red-600">low hemoglobin:</span> he was dangerously anemic.</li>
     <li><span class="text-red-600">Immune system</span>: failing fast.</li>

   </ul>

   He needed emergency surgery, multiple blood transfusions, laser therapy, and ICU care—and he needed it immediately.
		</p>
	</div>
	<div class="lg:pl-15 lg:pr-15 sm:pl-0 sm:pr-0 justify-center">
	    <div class="mt-6 grid lg:grid-cols-1 sm:grid-cols-1 gap-3">
            <div class="group flex flex-col relative overflow-hidden rounded-none sm:rounded-none dark:outline dark:outline-white/10">
                <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe src="https://drive.google.com/file/d/16VRy9nGfAiYU_59JV6dfBvp-NCXCedqi/preview" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen scrolling="no" allow="encrypted-media *;"></iframe></div>

            </div>

            <div class="group flex flex-col relative overflow-hidden rounded-none dark:outline dark:outline-white/10">
                <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe src="https://drive.google.com/file/d/11sx7_ny69XzYRs2uqzJpr9sXd_n5NgE-/preview" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen scrolling="no" allow="encrypted-media *;"></iframe></div>
            </div>

		</div>
	</div>
	<div class="relative pt-5 text-1xl md:text-2xl lg:text-2xl text-gray-600">
	    <p>
			The team at Pet Adoption Bangalore fought with everything they had. But the costs were immense, and time was slipping away.

		</p>
	</div>
	<div class="pt-5 font-semibold text-3xl">
	<h2>Then came Murphy.Or rather, his soul— Murphy and Murphians Foundation.</h2>
	</div>
	<div class="relative pt-5 text-1xl md:text-2xl lg:text-2xl text-gray-600">
	    <p> Moved by Streaky’s suffering, we stepped in and covered most of his medical expenses—a lifeline in his darkest hour.</div>

	<div class="relative pt-5 text-1xl md:text-2xl lg:text-2xl text-gray-600">
	    <p>
					But despite every effort, Streaky’s fragile body could no longer fight. His soul, tired and in pain, chose to leave this cruel world behind.
					Our hearts broke that day. But somewhere beyond this world, Streaky now runs free—whole, happy, and surrounded by nothing but love.


		</p>
	</div>
	<div class="pt-5 font-semibold text-3xl text-red-700 text-center">
	<h2>We will miss you, Streaky.</h2>
	<h2>You will live in our hearts forever. ❤️</h2>
	</div>


	</div>



</article>
  </Container>

</main>
</Layout>
