@import 'tailwindcss';
@import url('css/switzer.css');
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-primary : var(--color-white);
    --color-secondary : var(--color-orange-600);
    --color-info : var(--color-blue-600);
}
/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);
@keyframes heartbeat {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-heartbeat {
  animation: heartbeat 2s infinite;
}
.button-ripple {
    position: absolute;
    inset: 50% auto auto 50%;
    translate: -50% -50%;
    opacity: 0;
    border-radius: 50%;
    background-color: var(--ripple-color, rgba(255, 255, 255, .15));
    width: var(--ripple-size, 240px);
    height: var(--ripple-size, 240px);
}

@keyframes sweepa {
      0% {
        background-position: -100% 0; /* Start the gradient off-screen to the left */
      }
      100% {
        background-position: 100% 0; /* End the gradient off-screen to the right */
      }
    }

.sweeplight:after{
        content:'';
        position: absolute;
        width: 50%;
        height: 100%;
        z-index: 1;
        transform: skew(-10deg);
        background: rgba(255,255,255,.5);
        background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, .5) 40%,
        rgba(255, 255, 255, .5) 50%,
        rgba(255, 255, 255, 0) 80%
        );
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-name: sweep;


      }


      @keyframes sweep {
        0% {
          left:-50px;
        }

        60% {
          left:210px;
        }

        100% {
          left:-50px;
        }
      }
